@charset "UTF-8";
@import url("reset.css");
body {
  font-family: '微軟正黑體','cwTeXHei', Arial, sans-serif, helvetica; }
  body select, body input, body button, body textarea {
    border-color: transparent;
    color: white;
    padding: 0 14px;
    font-size: 14px;
    line-height: 43px; }
  body select, body input[type=text], body input[type=password], body textarea {
    background-color: #a5a5a5;
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
    cursor: pointer; }
  body select {
    background: url(../img/select.png) no-repeat;
    background-position: right -5px; }
    body select:hover {
      background-position-y: bottom; }
  body button, body input[type=button] {
    background-color: #44ca2f;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .5s, color .5s;
    -webkit-transition: background-color .5s, color .5s; }
    body button:hover, body input[type=button]:hover {
      background-color: #31943c;
      color: #011c0a; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

main {
  background-color: white; }
  main .errorTip {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 13;
    background-color: #ed1d79;
    color: white;
    border: 1px solid #ed1d79;
    padding: 7px 0;
    text-align: center;
    font-size: 1.3em;
    display: none; }
  main header {
    width: 100%;
    height: 260px;
    background: url(../img/main_bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: 47%; }
    main header h1, main header h2 {
      /*text-shadow: 3px 3px 16px $blackColor;*/
      letter-spacing: 10px;
      text-align: center; }
    main header h1 {
      font-size: 22px;
      margin-top: 75px;
      width: 100%;
      float: left;
      color: #31943c; }
      main header h1::after {
        content: ' ';
        width: 24px;
        height: 7px;
        background-color: #31943c;
        display: block;
        margin: 16px auto 0;
        /*box-shadow: 3px 3px 16px $blackColor;*/ }
      main header h1 b {
        color: #44ca2f; }
      main header h1 i {
        color: #ed1d79; }
    main header section.search {
      width: 474px;
      position: relative;
      left: 50%;
      height: 47px;
      margin-left: -272px;
      /*235*/
      background-color: #a5a5a5;
      top: 170px; }
      main header section.search > * {
        color: white;
        position: absolute;
        top: 0; }
      main header section.search > div {
        left: 89px; }
      main header section.search select {
        font-size: 16px;
        border: 3px solid #fff;
        margin: 3px 0 0 3px;
        line-height: 35px;
        left: 0;
        height: 41px;
        padding-right: 32px; }
        main header section.search select:hover {
          background-position-y: -52px;
          border-color: #ed1d79;
          color: #ed1d79; }
      main header section.search a[name=clear_area] {
        font-size: 18px;
        color: white;
        cursor: pointer; }
        main header section.search a[name=clear_area]:hover {
          color: #31943c; }
      main header section.search input[type=text] {
        width: 348px;
        height: 41px; }
      main header section.search input[type=button] {
        right: 0;
        margin: 0 -70px 0 0;
        height: 47px; }
  main .topBtn {
    z-index: 9;
    display: block;
    background-color: #31943c;
    position: fixed;
    width: 55px;
    height: 60px;
    right: 20px;
    bottom: -76px;
    padding: 8px;
    border-radius: 8px;
    transition: bottom 1s;
    -webkit-transition: bottom 1s;
    cursor: pointer; }
    main .topBtn.topshown {
      bottom: -8px; }
    main .topBtn:hover {
      background-color: #44ca2f; }
    main .topBtn h3, main .topBtn span {
      color: white;
      text-align: center; }
    main .topBtn span {
      font-size: 32px;
      display: block; }
    main .topBtn h3 {
      font-size: 18px;
      margin-top: 8px; }
  main span[name="visitor"] {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #001f00;
    /*text-shadow: 3px 3px 16px $blackColor;*/ }
    main span[name="visitor"]:before {
      content: '使用人數:  ';
      color: #31943c; }
    main span[name="visitor"]:after {
      content: '人';
      color: #31943c; }
  main nav {
    height: 65px; }
    main nav ul {
      width: 1022px;
      margin: 0 auto; }
      main nav ul li {
        width: 15%;
        text-align: center;
        margin: 0 2.5%;
        line-height: 65px;
        float: left;
        font-size: 16px;
        color: #001f00;
        transition: color .5s;
        cursor: pointer; }
        main nav ul li::before {
          background: url(../img/icon.png) no-repeat;
          content: ' ';
          display: inline-block;
          margin-right: 7px;
          height: 34px;
          width: 34px;
          position: relative;
          top: 9px; }
        main nav ul li:nth-child(1)::before {
          background-position: -33px top; }
        main nav ul li:nth-child(2)::before {
          background-position: -66px top; }
        main nav ul li:nth-child(3)::before {
          background-position: -100px top;
          width: 33px; }
        main nav ul li:nth-child(4)::before {
          background-position: -133px top; }
        main nav ul li:nth-child(5)::before {
          background-position: -166px top; }
        main nav ul li:hover {
          color: #ed1d79; }
          main nav ul li:hover::before {
            background-position-y: bottom; }
    main nav::before {
      content: ' ';
      height: 0px;
      width: 535px;
      display: block;
      border-bottom: 5px solid #31943c;
      margin: -2px auto 0; }
  main .showDataNum {
    width: 100%; }
    main .showDataNum h3 {
      text-align: center;
      color: #a5a5a5;
      font-size: 20px;
      margin-top: 12px; }
  main section.list {
    background-color: #dcdcdc;
    display: inline-block;
    width: 100%;
    margin-top: 100px; }
    main section.list > ul {
      width: 1022px;
      margin: -70px auto 0;
      display: block; }
      main section.list > ul li {
        width: 43%;
        margin: 16px 3%;
        float: left;
        border: 1px solid #a5a5a5;
        background-color: #fff;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        height: 202px; }
        main section.list > ul li article {
          width: 88%;
          padding: 8px 6%;
          border-bottom: 5px solid #31943c;
          height: 183px; }
          main section.list > ul li article .counselorName {
            width: calc(100% - 98px);
            padding-right: 8px;
            float: left; }
            main section.list > ul li article .counselorName > * {
              color: #001f00; }
            main section.list > ul li article .counselorName h2 {
              font-size: 18px;
              color: #011c0a;
              margin-top: 8px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 160px; }
            main section.list > ul li article .counselorName h1 {
              font-size: 22px;
              color: #31943c;
              margin: 10px 0; }
            main section.list > ul li article .counselorName div {
              clear: both;
              margin-bottom: 5px;
              display: inline-block;
              line-height: 22px;
              width: 100%; }
              main section.list > ul li article .counselorName div span {
                width: 35px;
                float: left; }
              main section.list > ul li article .counselorName div p {
                width: calc(100% - 40px);
                float: right;
                max-height: 67px;
                overflow: hidden;
                text-overflow: ellipsis; }
          main section.list > ul li article .counselorInfo {
            width: 90px;
            float: left; }
            main section.list > ul li article .counselorInfo .bright {
              height: 26px;
              position: relative;
              width: 210px;
              margin: 8px 0 0 -117px; }
              main section.list > ul li article .counselorInfo .bright p, main section.list > ul li article .counselorInfo .bright span {
                float: right; }
              main section.list > ul li article .counselorInfo .bright p {
                font-size: 18px;
                color: #31943c;
                line-height: 20px; }
              main section.list > ul li article .counselorInfo .bright span {
                display: block;
                margin: 0 4px; }
                main section.list > ul li article .counselorInfo .bright span.satisfaction {
                  width: 34px;
                  height: 34px;
                  /*border-radius:10.5px;
                  border:3px solid $mainColor;*/ }
                main section.list > ul li article .counselorInfo .bright span.satisfaction.star {
                  background: url(../img/smile.png) no-repeat;
                  background-position: left bottom; }
            main section.list > ul li article .counselorInfo b {
              margin: 4px 2px 10px 0;
              line-height: 22px;
              vertical-align: baseline;
              display: block;
              color: #31943c;
              text-align: right;
              height: 22px; }
            main section.list > ul li article .counselorInfo .feedbackBtn {
              margin-bottom: 15px; }
    main section.list .pageNumber {
      clear: both;
      position: relative;
      bottom: -95px;
      margin-bottom: 19px;
      text-align: center; }
      main section.list .pageNumber .center {
        display: inline-block;
        margin: 0 auto; }
        main section.list .pageNumber .center > * {
          float: left; }
        main section.list .pageNumber .center > ul {
          margin: 0 auto -17px; }
          main section.list .pageNumber .center > ul li {
            font-size: 18px;
            width: 47px;
            text-align: center;
            cursor: pointer;
            line-height: 47px;
            float: left;
            color: #001f00;
            transition: background-color .5s, color .5s;
            -webkit-transition: background-color .5s, color .5s; }
            main section.list .pageNumber .center > ul li:hover {
              background-color: #44ca2f;
              color: #011c0a; }
            main section.list .pageNumber .center > ul li.active {
              background-color: #31943c;
              color: white;
              pointer-events: none; }
        main section.list .pageNumber .center .pageUpDown {
          width: 75px;
          height: 47px;
          display: block; }
  main .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #a5a5a5;
    opacity: .9;
    z-index: 10; }
  main .popUp {
    position: fixed;
    z-index: 11;
    display: inline-block;
    padding: 0 40px;
    background-color: white;
    left: 50%;
    top: 10%;
    border-bottom: 5px solid #31943c;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 620px;
    margin: 0 0 0 -350px;
    max-height: 680px; }
    main .popUp section.popUpContent {
      max-height: 491px;
      margin-bottom: 12px;
      overflow-y: auto;
      padding: 18px; }
      main .popUp section.popUpContent::-webkit-scrollbar {
        width: 1em;
        padding-bottom: 14px; }
      main .popUp section.popUpContent::-webkit-scrollbar-track {
        opacity: 0; }
      main .popUp section.popUpContent::-webkit-scrollbar-thumb {
        background-color: #a5a5a5;
        outline: 1px solid #a5a5a5; }
    main .popUp .closePopUp {
      color: #31943c;
      font-size: 22px;
      cursor: pointer;
      margin-top: 26px;
      position: fixed;
      margin-left: 604px; }
      main .popUp .closePopUp:hover {
        color: #44ca2f; }
    main .popUp i.required {
      color: #ed1d79;
      font-size: 22px; }
    main .popUp h1 {
      font-size: 20px;
      line-height: 32px;
      margin: 36px 0 12px;
      text-align: center;
      color: #31943c; }
      main .popUp h1::after {
        content: ' ';
        width: 24px;
        height: 7px;
        background-color: #31943c;
        display: block;
        margin: 20px auto 12px; }
    main .popUp h2 {
      color: #011c0a;
      text-align: center;
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 12px; }
    main .popUp div[name="showHTML"] div {
      padding: 12px 0; }
    main .popUp div[name="showHTML"] .aboutContext * {
      font-size: 20px;
      line-height: 32px; }
    main .popUp div[name="showHTML"] .aboutContext p {
      text-indent: 40px;
      margin: 24px 0; }
    main .popUp div[name="showHTML"] .aboutContext h2 {
      font-size: 22px;
      color: #44ca2f;
      margin: 18px 0 26px 0; }
    main .popUp div[name="showHTML"] .aboutContext ul li:before {
      content: '▵';
      display: block;
      float: left;
      margin: 0 10px;
      color: #a5a5a5; }
    main .popUp div[name="showHTML"] .aboutContext strong {
      font-weight: bold;
      display: block;
      margin: 12px 0; }
    main .popUp div[name="showHTML"] .aboutContext a {
      color: #31943c; }
      main .popUp div[name="showHTML"] .aboutContext a:hover {
        color: #a5a5a5; }
    main .popUp div[name="showHTML"] .aboutContext span.smile {
      background: url(../img/smile.png) no-repeat;
      background-size: cover;
      width: 32px;
      height: 32px;
      display: inline-block;
      margin: 0 4px;
      float: left; }
    main .popUp div[name="showHTML"] .newsWindow ul {
      margin-top: 12px;
      width: 100%; }
      main .popUp div[name="showHTML"] .newsWindow ul li:nth-child(n+2) {
        display: inline-block;
        padding: 8px;
        width: 100%;
        line-height: 24px;
        cursor: pointer; }
        main .popUp div[name="showHTML"] .newsWindow ul li:nth-child(n+2) h3 {
          margin-right: 1%;
          padding-left: 6px; }
        main .popUp div[name="showHTML"] .newsWindow ul li:nth-child(n+2) p {
          font-size: 19px;
          background-color: #31943c;
          color: white;
          padding: 8px 6px; }
        main .popUp div[name="showHTML"] .newsWindow ul li:nth-child(n+2):hover {
          color: #44ca2f; }
          main .popUp div[name="showHTML"] .newsWindow ul li:nth-child(n+2):hover div {
            color: #001f00; }
    main .popUp div[name="showHTML"] .feedbackWindow div textarea {
      margin: 0 auto;
      display: block;
      font-size: 18px;
      color: white;
      border: none;
      border-bottom: 5px solid #31943c;
      padding: 12px;
      height: 300px; }
    main .popUp div[name="showHTML"] .feedbackWindow div.bright p, main .popUp div[name="showHTML"] .feedbackWindow div.bright span {
      float: right; }
    main .popUp div[name="showHTML"] .feedbackWindow div.bright p {
      font-size: 18px;
      color: #001f00;
      line-height: 20px; }
    main .popUp div[name="showHTML"] .feedbackWindow div.bright span {
      display: block;
      margin: 0 4px; }
      main .popUp div[name="showHTML"] .feedbackWindow div.bright span.satisfaction {
        width: 15px;
        height: 15px;
        border-radius: 10.5px;
        border: 3px solid #31943c; }
      main .popUp div[name="showHTML"] .feedbackWindow div.bright span.satisfaction.star {
        background-color: #31943c; }
    main .popUp div[name="showHTML"] .feedbackWindow div section.center {
      width: 208px;
      margin: 0 auto 12px; }
      main .popUp div[name="showHTML"] .feedbackWindow div section.center input[type='text'] {
        width: 170px; }
      main .popUp div[name="showHTML"] .feedbackWindow div section.center img {
        float: right;
        position: absolute;
        margin: 11px 0 0 -90px; }
    main .popUp div[name="showHTML"] .feedbackWindow div input[type='button'] {
      width: 46%;
      display: block;
      margin: 0 auto 12px; }
    main .popUp div[name="showHTML"] .counselorWindow div {
      text-align: center;
      width: 100%; }
      main .popUp div[name="showHTML"] .counselorWindow div input[type='text'], main .popUp div[name="showHTML"] .counselorWindow div input[type='password'] {
        width: 170px; }
      main .popUp div[name="showHTML"] .counselorWindow div img {
        float: right;
        position: absolute;
        margin: 11px 0 0 -90px; }
      main .popUp div[name="showHTML"] .counselorWindow div section.center {
        width: 250px;
        margin: 0 auto 12px; }
        main .popUp div[name="showHTML"] .counselorWindow div section.center input[type='text'] {
          float: left;
          margin: 0 4px; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorDetail span {
      font-size: 22px;
      line-height: 32px;
      color: #011c0a; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit .agreement p, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit .agreement ol li, main .popUp div[name="showHTML"] .counselorWindow .counselorApply .agreement p, main .popUp div[name="showHTML"] .counselorWindow .counselorApply .agreement ol li {
      font-size: 18px;
      line-height: 32px; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit .agreement p:nth-child(4), main .popUp div[name="showHTML"] .counselorWindow .counselorApply .agreement p:nth-child(4) {
      height: 46px; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit .agreement ol, main .popUp div[name="showHTML"] .counselorWindow .counselorApply .agreement ol {
      background-color: #e5e5e5;
      padding: 8px;
      border-top: 2px solid #a5a5a5;
      border-left: 2px solid #a5a5a5; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit .helpTip, main .popUp div[name="showHTML"] .counselorWindow .counselorApply .helpTip {
      font-size: 14px;
      color: #a5a5a5;
      margin-top: 3px; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit div, main .popUp div[name="showHTML"] .counselorWindow .counselorApply div {
      text-align: left;
      display: inline-block; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit div input[type='button'], main .popUp div[name="showHTML"] .counselorWindow .counselorApply div input[type='button'] {
        display: block;
        margin: 0 auto; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label {
      position: relative;
      cursor: pointer; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=checkbox] + span {
        background: url(../img/checkbox.png) no-repeat; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=checkbox]:checked + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=checkbox]:checked + span {
        background-position-y: bottom; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=radio] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=radio] + span {
        background: url(../img/radio.png) no-repeat; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=radio]:checked + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=radio]:checked + span {
        background-position-y: bottom; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=checkbox], main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=radio], main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=checkbox], main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=radio] {
        width: 100%;
        height: 32px;
        opacity: 0;
        padding-left: 55px;
        position: absolute;
        top: 0;
        left: 0;
        float: left; }
        main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=radio] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=radio] + span {
          float: left;
          line-height: 47px;
          width: calc(100% - 55px);
          padding-left: 55px; }
        main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=checkbox] + span:hover, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=radio] + span:hover, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=checkbox] + span:hover, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=radio] + span:hover {
          color: #ed1d79; }
        main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=checkbox]:checked + span, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit label input[type=radio]:checked + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=checkbox]:checked + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply label input[type=radio]:checked + span {
          color: #44ca2f; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit div[register="area"] input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit div[register="area"] input[type=radio] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit div[default="area"] input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorEdit div[default="area"] input[type=radio] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply div[register="area"] input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply div[register="area"] input[type=radio] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply div[default="area"] input[type=checkbox] + span, main .popUp div[name="showHTML"] .counselorWindow .counselorApply div[default="area"] input[type=radio] + span {
      width: 20% !important; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit h3, main .popUp div[name="showHTML"] .counselorWindow .counselorApply h3 {
      font-size: 22px;
      color: white;
      text-align: center;
      background-color: #31943c;
      line-height: 32px; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit h4, main .popUp div[name="showHTML"] .counselorWindow .counselorApply h4 {
      font-size: 20px;
      color: #31943c;
      line-height: 20px;
      width: 100%; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit p, main .popUp div[name="showHTML"] .counselorWindow .counselorApply p {
      font-size: 18px; }
    main .popUp div[name="showHTML"] .counselorWindow .counselorEdit a, main .popUp div[name="showHTML"] .counselorWindow .counselorApply a {
      color: white;
      padding: 0 14px;
      font-size: 14px;
      line-height: 43px;
      background-color: #44ca2f;
      display: inline-block;
      width: 29px; }
      main .popUp div[name="showHTML"] .counselorWindow .counselorEdit a:hover, main .popUp div[name="showHTML"] .counselorWindow .counselorApply a:hover {
        background-color: #31943c;
        color: #011c0a; }
    main .popUp iframe {
      height: 815px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*select {background-image: none !important;border:transparent !important;}*/
  section.search select {
    display: none !important; }
  section.search > div {
    left: 0 !important; }
    section.search > div input {
      height: 43px !important; }

  .topBtn {
    display: none; }

  select, input, button, textarea {
    height: 47px !important; } }
@media only screen and (max-device-width: 760px) and (-webkit-min-device-pixel-ratio: 2) {
  main header {
    height: 475px;
    margin-top: -45px; }
    main header h1 {
      font-size: 3rem;
      margin-top: 140px; }
      main header h1:after {
        width: 55px;
        height: 12px;
        margin-top: 45px; }
    main header section.search {
      margin: -90px 0 0 -240px;
      transform: scale(1.8);
      float: left; }
      main header section.search input[type=button] {
        display: block;
        right: 70px; }
  main input {
    font-size: 1.4rem; }
  main span[name="visitor"] {
    display: none; }
  main nav {
    height: 754px; }
    main nav:before {
      width: auto; }
    main nav ul {
      width: auto; }
      main nav ul li {
        line-height: 145px;
        width: 100%;
        font-size: 3rem;
        margin-left: 0;
        border-bottom: 5px solid #31943c; }
        main nav ul li::before {
          display: none; }
  main .mask {
    display: none !important; }
  main .showDataNum {
    display: none; }
  main .errorTip {
    font-size: 4rem;
    line-height: 6rem; }
  main section.list > ul {
    width: auto; }
    main section.list > ul li {
      width: 92%;
      height: 530px; }
      main section.list > ul li article {
        padding: 32px 6%;
        height: 460px;
        border-width: 10px; }
        main section.list > ul li article .counselorName {
          width: 76%;
          margin-right: 2%; }
          main section.list > ul li article .counselorName h1 {
            font-size: 4rem;
            line-height: 5rem; }
          main section.list > ul li article .counselorName h2 {
            font-size: 3rem;
            line-height: 3.5rem;
            width: 27rem; }
          main section.list > ul li article .counselorName div {
            line-height: 2.6rem;
            font-size: 2.2rem; }
            main section.list > ul li article .counselorName div span {
              width: 90px; }
            main section.list > ul li article .counselorName div p {
              max-height: 122px;
              text-overflow: ellipsis;
              font-size: 3rem;
              line-height: 3.7rem; }
        main section.list > ul li article .counselorInfo {
          width: 20%; }
          main section.list > ul li article .counselorInfo .bright {
            height: 75px;
            width: 400px;
            margin: 8px 0 20px -228px; }
            main section.list > ul li article .counselorInfo .bright span.satisfaction {
              width: 70px;
              height: 70px;
              border-radius: 25px;
              background-image: url(../img/icon.png) !important;
              background-position: left bottom !important;
              background-size: 983% !important; }
          main section.list > ul li article .counselorInfo b {
            display: none; }
          main section.list > ul li article .counselorInfo button, main section.list > ul li article .counselorInfo input[type=button] {
            font-size: 55px;
            line-height: 70px;
            width: 168px;
            height: 178px;
            white-space: normal; }
  main section.list .pageNumber .center {
    transform: scale(2); }
  main .topBtn {
    transform: scale(3);
    left: 10%;
    right: auto;
    bottom: -160px; }
    main .topBtn.topshown {
      bottom: 100px; }
  main .popUp {
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: calc(100% - 5px);
    border-radius: 0;
    max-height: none;
    padding: 0;
    font-size: 2.4rem; }
    main .popUp section.popUpContent {
      max-height: 89vh !important; }
    main .popUp div[name="showHTML"] .aboutContext {
      text-indent: 80px; }
      main .popUp div[name="showHTML"] .aboutContext span.smile {
        width: 75px;
        height: 75px; }
      main .popUp div[name="showHTML"] .aboutContext ul li {
        text-indent: 22px; }
        main .popUp div[name="showHTML"] .aboutContext ul li:before {
          font-size: 5rem; }
    main .popUp div[name="showHTML"] div {
      font-size: 3rem;
      line-height: 5rem; }
    main .popUp div[name="showHTML"] .newsWindow ul li {
      margin: 2rem 0; }
      main .popUp div[name="showHTML"] .newsWindow ul li p {
        font-size: 4rem !important;
        line-height: 6rem; }
      main .popUp div[name="showHTML"] .newsWindow ul li h3 {
        margin-bottom: 12px; }
    main .popUp div[name="showHTML"] .feedbackWindow div textarea {
      width: 88%;
      padding: 3%;
      font-size: 3rem;
      margin-top: 20px;
      border-bottom: none; }
    main .popUp div[name="showHTML"] .feedbackWindow div img#captcha {
      transform: scale(4);
      margin: 46px 0 0 -22% !important; }
    main .popUp div[name="showHTML"] .aboutContext * {
      line-height: 5rem;
      font-size: 4rem !important; }
    main .popUp span.closePopUp {
      margin: 0;
      top: 4%;
      right: 6%;
      transform: scale(4);
      color: white; }
    main .popUp .counselorWindow i.required {
      font-size: 3rem; }
    main .popUp .counselorWindow .counselorApply p.helpTip, main .popUp .counselorWindow .counselorEdit p.helpTip, main .popUp .counselorWindow .counselorDetail p.helpTip {
      font-size: 2.5rem !important;
      line-height: 3rem !important; }
    main .popUp .counselorWindow .counselorApply h4, main .popUp .counselorWindow .counselorEdit h4, main .popUp .counselorWindow .counselorDetail h4 {
      font-size: 3rem !important;
      line-height: 4rem !important; }
    main .popUp .counselorWindow .counselorApply span, main .popUp .counselorWindow .counselorEdit span, main .popUp .counselorWindow .counselorDetail span {
      font-size: 3rem !important;
      line-height: 5rem !important; }
    main .popUp .counselorWindow .counselorApply label span, main .popUp .counselorWindow .counselorEdit label span, main .popUp .counselorWindow .counselorDetail label span {
      font-size: 3rem !important;
      line-height: 5rem !important; }
    main .popUp .counselorWindow .counselorApply h3, main .popUp .counselorWindow .counselorEdit h3, main .popUp .counselorWindow .counselorDetail h3 {
      padding: 2rem 0;
      font-size: 3rem !important;
      margin: 3rem 0 3rem; }
    main .popUp .counselorWindow .counselorApply label input[type=radio] + span, main .popUp .counselorWindow .counselorApply label input[type=checkbox] + span, main .popUp .counselorWindow .counselorEdit label input[type=radio] + span, main .popUp .counselorWindow .counselorEdit label input[type=checkbox] + span, main .popUp .counselorWindow .counselorDetail label input[type=radio] + span, main .popUp .counselorWindow .counselorDetail label input[type=checkbox] + span {
      padding-left: 12% !important;
      width: 88% !important;
      background-size: 9.5% 200% !important; }
    main .popUp .counselorWindow .counselorApply div[register="area"] input[type=checkbox] + span, main .popUp .counselorWindow .counselorApply div[register="area"] input[type=radio] + span, main .popUp .counselorWindow .counselorApply div[default="area"] input[type=checkbox] + span, main .popUp .counselorWindow .counselorApply div[default="area"] input[type=radio] + span, main .popUp .counselorWindow .counselorEdit div[register="area"] input[type=checkbox] + span, main .popUp .counselorWindow .counselorEdit div[register="area"] input[type=radio] + span, main .popUp .counselorWindow .counselorEdit div[default="area"] input[type=checkbox] + span, main .popUp .counselorWindow .counselorEdit div[default="area"] input[type=radio] + span, main .popUp .counselorWindow .counselorDetail div[register="area"] input[type=checkbox] + span, main .popUp .counselorWindow .counselorDetail div[register="area"] input[type=radio] + span, main .popUp .counselorWindow .counselorDetail div[default="area"] input[type=checkbox] + span, main .popUp .counselorWindow .counselorDetail div[default="area"] input[type=radio] + span {
      width: 20% !important;
      padding-left: 100px !important;
      background-size: 30% 200% !important; }
    main .popUp .counselorWindow .counselorApply div[register="training"] div label:nth-child(5) input[type=checkbox] + span, main .popUp .counselorWindow .counselorApply div[default="training"] div label:nth-child(5) input[type=checkbox] + span, main .popUp .counselorWindow .counselorEdit div[register="training"] div label:nth-child(5) input[type=checkbox] + span, main .popUp .counselorWindow .counselorEdit div[default="training"] div label:nth-child(5) input[type=checkbox] + span, main .popUp .counselorWindow .counselorDetail div[register="training"] div label:nth-child(5) input[type=checkbox] + span, main .popUp .counselorWindow .counselorDetail div[default="training"] div label:nth-child(5) input[type=checkbox] + span {
      background: url(../img/checkbox2.png) no-repeat; }
    main .popUp .counselorWindow .counselorApply div[register="training"] div label:nth-child(5) input[type=checkbox]:checked + span, main .popUp .counselorWindow .counselorApply div[default="training"] div label:nth-child(5) input[type=checkbox]:checked + span, main .popUp .counselorWindow .counselorEdit div[register="training"] div label:nth-child(5) input[type=checkbox]:checked + span, main .popUp .counselorWindow .counselorEdit div[default="training"] div label:nth-child(5) input[type=checkbox]:checked + span, main .popUp .counselorWindow .counselorDetail div[register="training"] div label:nth-child(5) input[type=checkbox]:checked + span, main .popUp .counselorWindow .counselorDetail div[default="training"] div label:nth-child(5) input[type=checkbox]:checked + span {
      background-position-y: -160px; }
    main .popUp .counselorWindow .counselorApply textarea, main .popUp .counselorWindow .counselorEdit textarea, main .popUp .counselorWindow .counselorDetail textarea {
      width: 83%;
      font-size: 3rem !important;
      line-height: 3.5rem !important;
      padding: 3%; }
    main .popUp .counselorWindow .counselorApply a[btn="do_logout"], main .popUp .counselorWindow .counselorEdit a[btn="do_logout"], main .popUp .counselorWindow .counselorDetail a[btn="do_logout"] {
      cursor: pointer;
      position: absolute;
      font-size: 48px !important;
      width: 100px !important;
      top: 0;
      left: 0;
      padding: 55px !important; }
    main .popUp .counselorWindow .counselorApply a, main .popUp .counselorWindow .counselorEdit a, main .popUp .counselorWindow .counselorDetail a {
      cursor: pointer;
      font-size: 48px !important;
      width: 100px !important;
      padding: 37px !important; }
    main .popUp h1 {
      font-size: 3rem !important;
      margin: 0;
      color: white;
      padding: 36px 0;
      background-color: #31943c;
      line-height: 80px; }
      main .popUp h1:after {
        width: 55px;
        height: 12px;
        margin: 45px 51% 0;
        display: none; }
    main .popUp h2 {
      font-size: 3rem;
      margin-top: 8px; }
    main .popUp section.center {
      width: 84% !important; }
    main .popUp select, main .popUp input[type='text'], main .popUp input[type='password'] {
      width: 37rem !important;
      height: 7rem;
      font-size: 3rem;
      padding: 0 3rem; }
    main .popUp button, main .popUp input[type=button] {
      font-size: 3rem;
      line-height: 4rem;
      padding: 3rem; }
    main .popUp section {
      /*max-height: 86vh !important;*/ }
      main .popUp section label {
        display: inline-block;
        width: 100%;
        font-size: 3rem;
        line-height: 4rem; }
        main .popUp section label input[type="checkbox"] {
          width: 3rem;
          height: 3rem; }
    main .popUp section.counselorLogin div img {
      /*transform:scale(3);*/
      margin: 21px 0 0 -277px !important;
      min-width: 16rem; }
    main .popUp.newsWindow ul {
      padding: 0 1%; }
      main .popUp.newsWindow ul li {
        width: 98%;
        line-height: 5rem; }
        main .popUp.newsWindow ul li h3 {
          width: 100%; }
        main .popUp.newsWindow ul li p {
          width: 100%; }
    main .popUp.newsWindow input {
      display: block;
      margin: 0 auto; } }

/*# sourceMappingURL=front.css.map */
